table {
    width: 500px;
    height: 150px;
}



html {
    background-color: white
}

body {
    background-color: whitesmoke;
    width: 1250px;
    margin: 0 auto;
}

h1 {
    border-bottom: solid 3px black;
    width: 500px;
}
