html {
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: black;
    line-height:30px;
    font-size:1em;
}

button {
    font-size: 1.0em;
    font-weight: bold;
    padding: 10px 20px;
}